<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{{.OutputDir}}favicon.png">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@markkurossi">
    <meta name="twitter:title" content="{{.MetaTitle}}">

    <meta name="og:type" content="blog">
    <meta name="og:title" content="{{.MetaTitle}}">

    {{if .MetaDescription}}
    <meta name="description" content="{{.MetaDescription}}">
    <meta name="twitter:description" content="{{.MetaDescription}}">
    <meta name="og:description" content="{{.MetaDescription}}">
    {{end}}

    <title>{{.Title}}</title>
    <link href="{{.OutputDir}}woff/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="{{.OutputDir}}index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="page-wrapper">
      <div class="row">
        <div class="left-column">
          <div style="text-align: center; display: inline-block;
                      padding: 10px;">
            <img src="mpcl.png" width="64" align="middle"><br>MPCL
          </div>
          <ul>
            <li><a href="index.html">Documentation</a>
              <ul>
                <li><a href="apidoc.html">API</a>
                <li><a href="language.html">MPCL</a>
              </ul>
            <li><a href="https://github.com/markkurossi/mpc">GitHub</a>
          </ul>
        </div>
        <div class="article-column">
{{.Content}}
        <hr>
        <p>
          Copyright &copy; {{.Year}} Markku Rossi
        </div>
      </div>
    </div>
  </body>
</html>
