
body {
    font-family: "NewComputerModern10";
    font-size: large;
    font-style: normal;
    font-weight: normal;
}

.signature {
    font-family: "NewComputerModern10";
    font-style: normal;
    font-weight: bold;
    padding-top: 10px;
}

.index {
    font-family: "NewComputerModern10";
    font-style: normal;
    font-weight: bold;
    padding-top: 10px;
}

.page-wrapper {
    font-family: "NewComputerModern10";
    font-style: normal;
    font-weight: normal;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2.5;
    max-width: 300px;
    padding: 20px 20px 20px 50px;
    display: inline-block;
    font-family: "NewComputerModernSans10";
}
.article-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 6;
    overflow-wrap: break-word;
    text-align: justify;
    display: inline-block;
    padding: 0px 20px 10px 10px;
}
.right-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1.5;
    /* padding-top: 20px; */
    padding: 20px 10px 10px 10px;
    display: inline-block;
    font-family: "NewComputerModernSans10";
}

code {
    font-family: "NewComputerModernMono10";
    font-size: medium;
}

pre {
    font-family: "NewComputerModernMono10";
    font-size: medium;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #c5c8ca;
    padding: 10px 10px;
    overflow: auto;
    width: 70vw;
}

a {
    color: #0d6a8a;
    text-decoration: none;
}
a:hover {
   text-decoration: underline;
}

.subtleA {
    color: black;
    text-decoration: none;
}

.code {
    font-family: "NewComputerModernMono10";
    font-size: medium;
    white-space: pre;
    margin: 0px;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
    border: solid 1px #a7a7a7;
    margin: 5px 0px;
    width: 70vw;
}

.code .keyword {
    color: #A020F0;
}

.code .string {
    color: #D02090;
}

.code .functionName {
    color: #0000ff;
}

.function {
    font-family: "NewComputerModern10";
}

.empty {
    font-family: "NewComputerModern10";
    font-style: italic;
    color: #808080;
}

.tag {
    border-radius: 2em;
    /*border: 1px solid black;*/
    padding: 0px 10px 5px 10px;
    margin: 0 0.125em 0.333em 0;
    color: #0969da;
    background-color: #ddf4ff;
    display: inline-block;
}

table {
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
thead:before {
    line-height:2px;
    content:"\200C";
    display:block;
}
th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0px 10px;
}
td {
    padding: 0px 10px;
}
