<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="favicon.png" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@markkurossi" />
    <meta name="twitter:title" content="{{.MetaTitle}}" />

    <meta name="og:type" content="blog" />
    <meta name="og:title" content="{{.MetaTitle}}" />

    <meta name="twitter:image" content="https://www.markkurossi.com/blog/iconmonstr-file-22-240.png" />
    <meta name="og:image" content="https://www.markkurossi.com/blog/iconmonstr-file-22-240.png" />

    {{if .MetaDescription}}
    <meta name="twitter:description" content="{{.MetaDescription}}" />
    <meta name="og:description" content="{{.MetaDescription}}" />
    {{end}}

    <title>{{.Title}}</title>
    <link href="woff/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="page-wrapper">
      <div class="row">
        <div class="left-column">
          <div style="font-size: 30px;">
            <a class="subtleA" href="https://www.markkurossi.com">Markku Rossi</a>
          </div>
          <a href="https://twitter.com/markkurossi">Twitter</a><br>
          <a href="https://github.com/markkurossi">Github</a><br>
          <a href="index.html">Blog</a>
        </div>
        <div class="article-column">
          {{if .Draft}}
          <h1>*** Draft ***</h1>
          {{end}}
{{.ColumnArticle}}
{{.Links}}
<hr>
{{.Tags}}
<p>
  {{.Published}} | Copyright &copy; {{.Year}} Markku Rossi
        </div>
        <div class="right-column">
        </div>
      </div>
    </div>
  </body>
</html>
