<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{{.OutputDir}}favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@markkurossi">
    <meta name="twitter:title" content="{{.MetaTitle}}">

    <meta name="og:type" content="blog">
    <meta name="og:title" content="{{.MetaTitle}}">

    <meta name="twitter:image" content="https://www.markkurossi.com/blog/iconmonstr-file-22-240.png">
    <meta name="og:image" content="https://www.markkurossi.com/blog/iconmonstr-file-22-240.png">

    {{if .MetaDescription}}
    <meta name="description" content="{{.MetaDescription}}">
    <meta name="twitter:description" content="{{.MetaDescription}}">
    <meta name="og:description" content="{{.MetaDescription}}">
    {{end}}

    <title>{{.Title}}</title>
    <script src="{{.OutputDir}}slides.js"></script>
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>

  <body style="display: none" class="loaded">
    <section class="slides layout-widescreen" style="transform: scale(0.982667);">
      {{if .Draft}}
      <h3 style="font-family: NewComputerModern10;">*** Draft ***</h3>
      {{end}}

{{.ColumnArticle}}

      <div class="slide-area" id="prev-slide-area"></div>
      <div class="slide-area" id="next-slide-area"></div>
    </section>

    <div id="help">
      Use the left and right arrow keys or click the left and right
      edges of the page to navigate between slides.<br>
      (Press 'H' or navigate to hide this message.)
    </div>

    <script src="{{.OutputDir}}play.js"></script>

    <link href="{{.OutputDir}}woff/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="{{.OutputDir}}common.css" rel="stylesheet" type="text/css">
    <link href="{{.OutputDir}}presentation.css" rel="stylesheet" type="text/css">
</body>
</html>
